.App {
    height: 100vh;
    /* padding: 10px 10px; */
    display:flow-root;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #FFF7F7;
  }
  .head {
    font-family: 'IM Fell English', serif;
    font-size: 36px;
    font-weight: bold;
    color: #d76320;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.3s ease-in-out;
    padding-top: 60px;
  }
  
  .head:hover {
    color: #f6874c;
    transform: scale(1.1);
  }
  
  
  
  .books {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .book {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  border-radius: 10px;
  padding: 2px 16px;
  color: #240881;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background-color: #c5e6f4;
  width: 300px; /* or any other desired width */
  }
  
  .book:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }
  
  img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    background-color: #F4C2C2;
  }
  
  .linkB {
    border: none;
    margin: 30px;
    padding: 10px 20px;
    background-color: #FFF0F5;
    cursor: pointer;
    border: 1px solid #c2612d;
    color: #f17431;
    transition: all 0.3s ease;
    border-radius: 20px;
    font-size: 20px;
  }
  
  .linkB:hover {
    background-color: #FB8F53;
    color: #FFF;
    transform: scale(1.1);
  }
  
  .delete {
    border: none;
    padding: 10px 20px;
    background-color: #FFF0F5;
    cursor: pointer;
    border: 1px solid #246809;
    color: #81051e;
    transition: all 0.3s ease;
    border-radius: 20px;
    font-size: 20px;
  }
  
  .delete:hover {
    background-color: #a1f1a4;
    color: #FFF;
    transform: scale(1.1);
  }
  
  .update {
    border: none;
    padding: 10px 20px;
    background-color: #FFF0F5;
    cursor: pointer;
    border: 1px solid #50020f;
    color: #a31e2b;
    transition: all 0.3s ease;
    border-radius: 20px;
    font-size: 20px;
  }
  
  .update:hover {
    background-color: #f16980;
    color: #FFF;
    transform: scale(1.1);
  }
  .forms {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-top: 100px;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color:  #FDDCDA;
    width: 350px;
   color: #240881;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  }
  
  .input {
    width: 250px;
    padding: 10px;
    border: 1px solid #F48FB1;
    padding: 10px 20px;
    height: 45px;
    margin: 10px;
    
    border-radius: 10px;
    font-size: 20px;
  }
  
  .formButton {
    border: none;
    padding: 10px 20px;
    height: 45px;
    background-color:  #E16824;
    cursor: pointer;
  }

 
  